	.fondo_verde{
		background-color: #389D4C;
		color: black;
		font-family: 'Courier New';
	}

	.fondo_azul{
		background-color: #3BECD1;
		color: black;
		font-family: 'Times New Roman';
	}

	.fondo_rosa{
		background-color: #F085E8;
		color: black;
		font-family: 'Arial';
		font-size: 9pt;
	}

	.fondo_azulClaro{
		background-color: #B2FEF1;
		color: black;
		font-size: 19pt;
		font-family: 'Times New Roman';
	}

	.fondo_verdeClaro{
		background-color: #73FC9F;
		color: black;
		font-size: 19pt;
		font-family: 'Times New Roman';
	}

	.celdaimagen{
		padding-left: 5pt;
		width: 20%;
	}

	.celdaSegunda{
		width: 30%;
	}


